nextflow.enable.dsl=2

params.seq_type = "PE"
params.tech     = "illumina"
params.reads    = "data/fastq_files/*_{1,2}.fastq.gz"
params.ref      = "data/references/hg38.fa"
params.bed      = "data/bed/OCAPlus.fixed.bed"
params.outdir   = "results"

conda.enabled = true

process {
    executor = 'local'
    cpus = 4
    memory = '8 GB'
}