nextflow.enable.dsl=2

//Pointing to data locally (default)
params {
    reads       = "data/fastq_files/*_{1,2}.fastq"
    reference   = "data/references/hg38.fa"
    bwa_index   = "data/references/hg38.fa.{,amb,ann,bwt,pac,sa,fai}"
    dict        = "data/references/hg38.dict"
    outdir      = "results"
}

process {
    stageInMode  = 'copy'
    stageOutMode = 'copy'
}

//AWS Batch profile
profiles {
  aws_batch {
    process.memory = 7.GB
    process.cpus = 2
    process.executor = 'awsbatch'
    process.queue = 'nextflow-queue'
    aws.region = 'sa-east-1'

    workDir = 's3://pypeline-nextflow-bucket/work'
    
    docker.enabled = true
    process.container = "roxicaro/pypeline-nextflow:latest"
    
    //Pointing to data in the S3 bucket (overrides default params)
    params {
        reads      = "s3://pypeline-nextflow-bucket/data/fastq_files/*_{1,2}.fastq"
        reference  = "s3://pypeline-nextflow-bucket/data/references/hg38.fa"
        bwa_index  = "s3://pypeline-nextflow-bucket/data/references/hg38.fa.{,amb,ann,bwt,pac,sa,fai}"
        dict       = "s3://pypeline-nextflow-bucket/data/references/hg38.dict"
        outdir     = "s3://pypeline-nextflow-bucket/results"
          }
  }

//Docker profile
docker {
    docker.enabled = true
    process.executor = 'local'
    process.container = "roxicaro/pypeline-nextflow:latest"
    docker.runOptions = "-u \$(id -u):\$(id -g)"
  }
}