//Enabling conda by default when running locally
conda.enabled = true

//Pointing to data locally (default)
params {
    samplesheet   = "data/samplesheet.csv"
    reference     = "data/references/hg38.fa"
    bwa_index     = "data/references/hg38.fa.{,amb,ann,bwt,pac,sa,fai}"
    dict          = "data/references/hg38.dict"
    outdir        = "results"
}

profiles {
  test {
    process.executor = 'local'
    conda.enabled = true
    docker.enabled = false
    //Pointing to test data locally (overrides default params)
    params {
        samplesheet   = "test_data/samplesheet.csv"                                  //Reads artificially created using art_illumina 
        reference     = "test_data/references/mtDNA.fa"                              //Human mitochondrial DNA reference (NC_012920.1)
        bwa_index     = "test_data/references/mtDNA.fa.{,amb,ann,bwt,pac,sa,fai}"
        dict          = "test_data/references/mtDNA.dict"
        outdir        = "results"
          }
  }

  //AWS Batch profile
  aws_batch {
    process.memory = 7.GB
    process.cpus = 2
    process.executor = 'awsbatch'
    process.queue = 'nextflow-queue'
    aws.region = 'sa-east-1'

    workDir = 's3://pypeline-nextflow-bucket/work'
    
    conda.enabled = false //Disabling conda when running in AWS Batch
    docker.enabled = true
    
    //Pointing to data in the S3 bucket (overrides default params)
    params {
        samplesheet  = "data/samplesheet_aws.csv"
        reference    = "s3://pypeline-nextflow-bucket/data/references/hg38.fa"
        bwa_index    = "s3://pypeline-nextflow-bucket/data/references/hg38.fa.{,amb,ann,bwt,pac,sa,fai}"
        dict         = "s3://pypeline-nextflow-bucket/data/references/hg38.dict"
        outdir       = "s3://pypeline-nextflow-bucket/results"
        //Avoid using symlinks in AWS Batch (as they are not supported in S3)
        stageInMode  = 'copy'   //Copy process's inputs into work directory before running (instead of creating symlinks)
        stageOutMode = 'copy'   //Copy process's outputs from work directory to the Nextflow output directory (instead of moving them)
          }
          }

//Docker profile
docker {
    conda.enabled = false //Disabling conda when using docker
    docker.enabled = true
    docker.runOptions = "-u \$(id -u):\$(id -g)"
    params {
      //Avoid using symlinks when using docker as it may cause permission issues
      stageInMode  = 'copy'   //Copy process's inputs into work directory before running (instead of creating symlinks)
      stageOutMode = 'copy'   //Copy process's outputs from work directory to the Nextflow output directory (instead of moving them)  
    }
  }
}